* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.toggle-menu{
            
  position: absolute;
  height: 40px;
  width: 40px;
  color: #fff;
  top: 8px;
  right: 122px;
  display: none;
}
.toggle-menu::before{
       content: '\f0c9';
       color: #fff;
       font-size: 30px;
       font-family: fontAwesome;
       right: 30px;
    }


                

.popup .overlay {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1;
  position: fixed;
}
.popup .contant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #ededed;
  width: 738px;
  height: 534px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  /*box-sizing: border-box;*/
  padding-bottom: 30px;
  position: fixed;
}
.popup .contant p {
  padding-bottom: 20px;
}
.popup .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: black;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  float: right;
  border-radius: 50%;
  cursor: pointer;
}
.popup .close-btn:hover {
  background: #1ac1ff;
}
.popup .close-btn-2 {
  background: #1ac1ff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  width: 148px;
  text-align: center;
  cursor: pointer;
  padding-top: 11px;
  text-align: center;
  margin-left: 41%;
  margin-top: 308px;
}

.popup.active .overlay {
  display: block;
}
.popup.active .contant {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.popup .contant .col-md-12 .col-md-6 input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
}
.popup .contant .col-md-12 .col-md-6 input:hover {
  border: 1px solid #1ac1ff;
}
.popup .contant h1 {
  padding-bottom: 20px;
  font-size: 27px;
}
.popup .contant .col-12-two {
  margin-top: 40px;
}
.popup .contant .col-12-three input {
  width: 95%;
  height: 92px;
  margin-top: 28px;
  border: none;
  padding-left: 13px;
  font-size: 17px;
}
.popup .contant .col-12-three input:hover {
  border: 1px solid #1ac1ff;
}

.sec_1 {
  background: url(../img/shutterstock_1394523044.jpg);
  height: 100vh;
  background-size: cover;
}
.sec_1 img {
  max-width: 150px;
  margin-left: 60px;
  margin-top: 20px;
}
.main_con {
  background: rgba(0, 0, 0, 0.1);
}
.sec_1 .navbar-nav {
  margin: 0;
}
.sec_1 .main_con .navbar {
  background: black;
  border-radius: 0;
  position: relative;
}
.sec_1 .main_con .navbar .navbar-left{
  margin: 0;
  margin-left: 16px;
}
.sec_1 .main_con .navbar .navbar-left ul{
  display: flex;
 }
.sec_1 .main_con .navbar .navbar-left li{
  list-style: none;
  margin-top: 12px;
  margin-left: 12px;
  background: none;
}
.sec_1 .main_con .navbar .navbar-left li a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.sec_1 .main_con .navbar .navbar-left li a:hover{
  text-decoration: none;
  background: none;
}
.sec_1 .navbar-nav li {
    background: none;
    margin-right: 20px;
    border: 2px solid #fff;
    margin-top: 9px;
    border-radius: 50px;
    display: block;
}
.sec_1 .navbar-nav li a {
  color: #fff;
  font-weight: bold;
  background: none;
  padding: 4px 14px;
}
.sec_1 .navbar-nav li a:hover {
  color: #fff;
  font-weight: bold;
  background: none;
}
.sec_1 .premium .content-p {
  color: #fff;
  display: flex;
}
.sec_1 .premium .content-p p {
  margin: 0 13px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}
.sec_1 h2 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
}
.sec_1 .premium {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}
.sec_1 .premium i {
  color: #fff;
  font-size: 26px;
  margin-top: 65px;
}
.sec_1 .premium .btn-default {
  background: #01b037;
  color: #fff;
  border: none;
  padding: 12px 40px;
  border-radius: 20px;
  margin-top: 67px;
  font-size: 17px;
}
.sec_2 {
  background: url(../img/mountain.jpg) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-size: cover;
}
.sec_2 .about {
  color: #fff;
  background: #0e2200;
  opacity: 0.7;
  width: 50%;
  padding-bottom: 20px;
  padding: 0 20px;
  padding-bottom: 20px;
}
.sec_2 .about h3 {
  text-align: center;
  font-size: 40px;
  padding-top: 26px;
  padding-bottom: 40px;
}
.sec_2 .about p {
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 23px;
  line-height: 29px;
  margin-right: auto;
  margin-left: auto;
}
.sec_3 {
  background: url(../img/shutterstock_480762523.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100%;
}
.sec_3 .contant {
  background: rgb(1 195 87 / 47%);
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec_3 .contant .whole {
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
}
.sec_3 .contant h1 {
  color: #fff;
  font-weight: 700;
  padding-bottom: 46px;
}
.sec_3 .contant .col-md-4 {
  height: 460px;
  width: 308px;
  margin: 20px;
}
.sec_3 .contant .col_1 {
  background-image: url(../img/img6.jpg);
  background-size: cover;
  position: relative;
  background-position-x: left;
}
.sec_3 .contant .col_2 {
  background-image: url(../img/neobrand.png);
  background-size: cover;
  position: relative;
  background-position-x: center;
}
.sec_3 .contant .col_3 {
  background-image: url(../img/img7.jpg);
  background-size: cover;
  position: relative;
  background-position-x: center;
}
.sec_3 .contant .col-md-4 .con_fixed {
  background: rgba(0, 0, 0, 0.7);
  height: 163px;
  width: 231px;
  position: absolute;
  right: 0;
  bottom: -70px;
}
.sec_3 .contant .col-md-4 .con_fixed h2 {
  color: #fff;
  margin-top: 10px;
}
.sec_3 .contant .col-md-4 .con_fixed ul li {
  list-style: none;
  color: #fff;
  text-align: left;
  padding-left: 15px;
  margin-top: 5px;
}

.sec_4 {
  background: #2a2829;
  margin-top: -20px;
  padding: 0;
}
.sec_4 h2 {
  color: #fff;
  font-size: 43px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 61px;
}
.sec_4 .contant_3 {
  background: #fff;
  height: 460px;
}
.sec_4 .contant_3 .white {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.sec_4 .contant_3 .white h4 {
  font-size: 30px;
  text-align: left;
  padding-top: 110px;
}
.sec_4 .contant_3 .white p {
  padding-top: 30px;
  font-size: 17px;
  font-weight: 500;
}
.sec_4 .contant_3 .white .p-2 a{
  color: #333;
}
.sec_4 .contant_3 .white .p-2 a:hover{
  text-decoration: none;
  color: #333;
}
.sec_4 .devide .form_sec {
  height: 460px;
  background: #1e7225;
}
.sec_4 .devide {
  margin-left: 0;
  margin-right: 0;
}
.sec_4 .devide .form_sec form {
  width: 500px;
  padding-top: 100px;
  margin: auto;
  height: auto;
}
.sec_4 .devide .form_sec form .form-group {
  margin-top: 14px;
}
.sec_4 .devide .form_sec form label {
  color: #fff;
}
.sec_4 .devide .form_sec form input {
  border-radius: 0;
  background: #267164;
}
.sec_4 .devide .form_sec form textarea {
  border-radius: 0;
  background: #267164;
}
.sec_4 .devide .form_sec form button {
  border-radius: 0;
}
footer {
  background: black;
  color: #fff;
  text-align: center;
  margin-top: -20px;
  padding-bottom: 20px;
}
footer h2 {
  font-size: 30px;
  padding-top: 34px;
}
footer p {
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 16px;
}
footer p a{
  color: #fff;
}
footer p a:hover{
  text-decoration: none;
   color: #fff;
}
@media (min-width: 1550px) {
  .sec_3 .contant .col-md-4 {
    height: 619px;
    width: 470px;
  }
  .sec_3 .contant h1 {
    padding-bottom: 37px;
  }
}
@media (max-width: 1375px) {
  .sec_2 .about {
    width: 64%;
  }
  .sec_3 .contant h1 {
    padding-bottom: 9px;
    padding-top: 32px;
  }
  .sec_4 h2 {
    padding-top: 37px;
    padding-bottom: 38px;
  }
  .sec_1 {
    background: url(../img//shutterstock1000000.jpg);
    background-size: cover;
    background-position-x: center;
  }
  .sec_1 .premium {
    height: 70vh;
  }
  .sec_1 .premium .btn-default {
    margin-top: 30px;
  }
  .sec_1 .premium i {
    margin-top: 34px;
  }
  .sec_3 .contant .col-md-4 .con_fixed {
    height: 150px;
    bottom: -53px;
  }
}
@media (max-width: 1084px) {
  .sec_1 .main_con .navbar {
    padding: 0;
  }
  .sec_2 .about {
    width: 80%;
  }
  .sec_3 .contant .col-md-4 {
    margin: 5px;
  }
  .popup .close-btn-2 {
    margin-left: 40%;
    margin-top: 373px;
  }
  .popup .contant .col-12-two {
    margin-top: 3px;
  }
  .popup .contant .col-md-12 .col-md-6 input {
    margin-bottom: 14px;
  }
  .popup .contant {
    width: 738px;
    height: 636px;
  }
  footer {
    height: auto;
    padding-bottom: 20px;
  }
  footer h2 {
    padding-top: 60px;
  }
}

@media (max-width: 992px) {
  .sec_3 {
    height: auto;
  }
  .sec_3 .contant {
    height: auto;
    display: block;
  }
  .sec_3 .contant .whole {
    padding: 0 10px;
  }
  .sec_3 .contant .whole h1 {
    padding-bottom: 20px;
  }
  .sec_3 .contant .col-md-4 {
    width: 97%;
    margin-bottom: 140px;
  }
  .sec_3 .contant .col-md-4 .con_fixed {
    width: 100%;
    text-align: center;
  }
  .sec_4 {
    height: auto;
  }
  .sec_4 h2 {
    font-size: 33px;
    padding-bottom: 0;
    padding-top: 23px;
  }
  .sec_4 .contant_3 {
    height: auto;
    padding-bottom: 20px;
  }
  .sec_4 .contant_3 .white h4 {
    padding-top: 23px;
  }
  .sec_4 .devide .form_sec form {
    padding-top: 33px;
  }
  .popup .close-btn-2 {
    margin-left: 41%;
    margin-top: 30px;
  }
}
@media (max-width: 860px) {
  .sec_2 .about {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .popup .contant {
    width: 600px;
    height: 636px;
  }
  .sec_1 .premium {
    height: 70vh;
  }
  .sec_1 .premium .btn-default {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .sec_1 .navbar-nav li {
    margin-top: -42px;
}
  .sec_1 .navbar-nav {
    float: right;
    padding-top: 0;
  }
  .sec_1 img {
    height: none;
    max-width: 125px;
    margin-top: -6px;
  }
  .sec_1 {
    background: url(../img/shutterstock12345.jpg);
    background-size: cover;
  }
  .sec_1 h2 {
    font-size: 36px;
    line-height: 1.3;
  }
  .popup .contant {
    width: fit-content;
    height: auto;
  }
  .popup .close-btn-2 {
    margin-left: 39%;
    margin-top: 30px;
  }
  .sec_1 .premium .btn-default {
    margin-top: 40px;
    font-size: 16px;
    padding: 10px 18px;
  }
  .sec_1 .premium i {
    margin-top: 40px;
  }
  .sec_4 .devide .form_sec form {
    width: auto;
  }
}
@media (max-width: 499px) {

  footer h2 {
    padding-top: 37px;
    font-size: 26px;
  }
  .sec_1 h2 {
    font-size: 38px;
  }
  .sec_1 img {
    margin-left: 31px;
    margin-top: 0px;
  }
  .sec_4 .devide .form_sec form button {
    font-size: 16px;
  }
  .sec_1 img {
    max-width: 132px;
    height: auto;
  }
  .sec_3 .contant .col-md-4 .con_fixed ul li {
    font-size: 17px;
  }
  .sec_1 .navbar-nav li {
    height: 34px;
    margin-top: 0px;
  }
  .popup .contant {
    width: fit-content;
    height: auto;
  }
  .popup .close-btn-2 {
    margin-left: 33%;
    margin-top: 30px;
  }
  footer {
    height: auto;
    padding-bottom: 20px;
    margin-top: -20px;
  }
}
@media (max-width: 768px) {
  .toggle-menu{
            
  position: absolute;
  height: 40px;
  width: 40px;
  color: #fff;
  top: 8px;
  right: 10px;
  display: block;
  cursor: pointer;
}
.toggle-menu::before{
       content: '\f0c9';
       color: #fff;
       font-size: 30px;
       font-family: fontAwesome;
       right: 30px;
    }
    .sec_1 .navbar-nav li {
    display: none;
}
  .popup .contant {
    height: auto;
  }
  .popup .close-btn-2 {
    margin-left: 33%;
    margin-top: 30px;
  }
  .sec_1 {
    height: 650px !important;
    background-position-x: center;
  }
  .sec_1 .premium {
    height: 365px !important;
    margin-top: 50px;
  }
  .sec_1 .navbar .navbar-brand img {
    height: 100px;
  }
  .navbar-brand {
    padding: 20px 2px;
  }
  .sec_2 {
    height: auto;
  }
  .sec_3 .contant .whole h1 {
    font-size: 20px;
  }
  footer h2 {
    font-size: 20px;
  }
  footer p {
    font-size: 14px;
  }
}
